\documentclass{tccv}
\usepackage[english]{babel}
\usepackage{graphicx}

\hypersetup{
    colorlinks=false,
    hidelinks
}
\begin{document}

    
\part{ {{basics.name}} }
\personal[ {{basics.url}}]
          { {{basics.phone}} }{ {{basics.email}} }
\section{Education}
\begin{eventlist}

{% for e in education %}
\item{ {{e.startDate}} -- {{e.endDate or "now"}} }
	{ {{"\\href{"+e.url+"}{"+e.institution+"}" if e.url else e.institution}} }
	{ {{e.studyType}} {{e.area}}}

    Score: {{e.score}}
{% endfor %}

\end{eventlist}
\section{Skills}
\begin{factlist}
\item{Languages}
     {Golang, Typescript, C++, Julia, Rust, Python, Java, SQL, English, German, French, Spanish}
\item{Tools}
     {Kubernetes, Docker, Terraform, Gitlab, VSCode, Linux, Azure, Grafana, Humio, PlatformIO}
\item{Libraries}
     {React, PyTorch, TensorFlow}
\item{Math}
     {Analysis, Linear Algebra, Tensor Calculus, 
     Fluid Mechanics basics}
\item{Engineering}
     {Basics of CAD, Engineerng Mechanics, Material Science, Thermodynamics, Chemics and Heat Transfer}
\end{factlist}

\section{Jobs and Internships}
\begin{eventlist}
{% for w in work %}
\item{ {{w.startDate}} -- {{w.endDate or "now"}} }
	{ {{w.position}} }
	{ {{"\\href{"+w.url+"}{"+w.name+"}" if w.url else w.name}} }

	{{w.summary}} 
	{{w.description}}
{% endfor %}

{% for v in volunteer %}
\item{ {{v.startDate}} -- {{v.endDate or "now"}} }
	{ {{v.position}} }
	{ {{"\\href{"+v.url+"}{"+v.organization+"}" if v.url else v.organization}} }

	{{v.summary}} 
	{{v.description}}
{% endfor %}

\end{eventlist}


\section{Awards}

\begin{eventlist}
{% for a in awards %}
\item{ {{a.date}} }
	{ {{a.title}} }
	{ {{"\\href{"+a.url+"}{"+a.awarder+"}" if a.url else a.awarder}} }

	{{a.summary}} 
{% endfor %}
\end{eventlist}

\section{Seminars and Programs}
\begin{eventlist}


\item{Since September 2021}
     {TUM}
     {Scholar of the Deutschlandstipendium}

     I was chosen to be a scholar of the Deutschlandstipendium.

\item{September 2021}
          {Sarntal, South Tyrol}
          {\href{https://ferienakademie.de}{Ferienakademie}}
          
          Participation in the Decentralized Drone Interactions Team of the Ferienakademie, investigating the decentralized deployment of drones with a focus on automated auctions

\item{2014-2018}
			{Multiple German universities}
			{\href{https://www.mathe-wettbewerbe.de/jugend-trainiert-mathematik}{Jugend trainiert Mathematik}}

Participation in a program to train young mathematicians, consisting of two seminars per year and monthly exercise sheets

\item{2018 -- 2020}
	{DKFZ}
	{\href{https://www.life-science-lab.org/cms/}{Heidelberger Life-Science-Lab}}
	
     Participation in HLSL, a program encouraging young students to do their own research projects

\end{eventlist}

\section{Personal Projects}
\begin{eventlist}
     
{% for p in projects %}
\item{ {{p.startDate}} -- {{p.endDate or "now"}} }
	{ {{', '.join(p.keywords) or "..."}} }
	{ {{"\\href{"+p.url+"}{"+p.name+"}" if p.url else p.name}} }

	{{p.description}} 
{% endfor %}	

\end{eventlist}

\section{Other Interests}
\begin{itemize}
     \item Reading tech stories
     \item Aviation
     \item Outdoor activities
     \item Playing the piano
\end{itemize}
\end{document}